[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
django-lint = "*"
flake8 = "*"
jira = "*"
faker = "*"
ipython = "*"
ipdb = "*"
werkzeug = "*"
django-debug-toolbar = "*"
bpython = "*"
ptpython = "*"

[packages]
django = "==3.0.7"
django-allauth = "*"
django-extensions = "*"
django-crispy-forms = "*"
django-countries = "*"
stripe = "*"
pillow = "*"

[requires]
python_version = "3.8"
