{%extends 'base.html'%}
{%load humanize%}
{%block title%}Feeds{%endblock title%}
{%block content%}
<div class="container" id="feedapp">
    <div class="columns">
        <div class="columns is-12">
            <div class="wrapper-form">
                <form action="" v-on:submit.prevent="submitOki">
                    <div class="field">
                        <div class="control is-medium is-loading">
                            <textarea class="textarea is-medium is-primary" v-model="body" placeholder="Start With Oki"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-success is-medium">Post</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="wrapper-oki">
        <div class="oki" v-for="oki in okis">
            <p class="name"><strong>[[oki.okir]]</strong></p>
            <p>[[oki.body]]</p>
            <p class="is-info is-small">[[oki.created_at]]</p>
        </div>
        {%if okis%}
            {%for oki in okis%}
                <div class="oki">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                            {%if oki.created_by.okirprofile.avatar%}
                                <img src="{{oki.created_by.okirprofile.avatar.url}}" alt="Profile Picture">
                            {%endif%}
                            </p>
                        </figure>
                        <div class="media-conten">
                            <p class="name"><strong>{{oki.created_by.username}}</strong></p>
                            <p class="">{{oki.body|safe}}</p>
                            <p class="info">{{oki.created_at|naturaltime}}</p>
                        </div>
                    </article>
                </div>
            {%endfor%}
        {%endif%}
    </div>
</div>
{%endblock content%}
{%block script%}
<script>
    new Vue({
        el: "#feedapp",
        delimiters: ["[[", "]]"],
        data() {
            return {
                okis: [],
                body: "",
                okir: "{{request.user.username}}",
                created_at: "Now",
            };
        },
        methods: {
            submitOki() {
                console.log("submitOki");
                if (this.body.length > 0) {
                    var oki = {
                        body: this.body,
                        okir: this.okir,
                        created_at: this.created_at,
                    };
                    this.okis.unshift(oki);
                    // Send to backend
                    fetch('{%url "feed:api_add_oki"%}', {
                        method: "POST",
                        header: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": "{{csrf_token}}",
                        },
                        credentials: "same-origin",
                        body: JSON.stringify(oki),
                    })
                        .then((responce) => {
                            console.log(responce);
                        })
                        .catch((err) => {
                            console.log(err);
                        });
                }
                this.body = "";
            },
        },
    });
</script>
{%endblock script%}
