{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>OkiDoki - {%block title%}Home Page{%endblock title%}</title>
    <link rel="stylesheet" href="{%static 'css/bulma.min.css'%}">
</head>
<body>
    <!-- Nav -->
    <nav class="navbar is-info" role="navigation">
        <div class="navbar-brand">
            <a href="{%url 'core:frontpage'%}" class="navbar-item"><strong>OkiDoki</strong></a>
            <a class="navbar-burgar" href="#">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </nav>
    <!-- End Nav -->

    <!-- Content -->
    <section class="section">
        {%block content%}
        {%endblock content%}
    </section>
    <!-- End Content -->
</body>
</html>
