{%extends 'base.html'%}

{%load humanize%}

{%block title%}Profile{%endblock%}

{%block content%}
<div class="container">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title">{{user.username}}</h1>
                {%if user.okirprofile.avatar%}
                    <figure class="image is-128x128">
                        <img src="{{user.okirprofile.avatar.url}}" alt="Profile Picture">
                    </figure>
                {%endif%}
                <p><a href="{% url 'okirprofile:followers' user.username%}">Followers</a>: {{user.okirprofile.followed_by.count}}</p>
                <p><a href="{% url 'okirprofile:follows' user.username%}">Follows</a>: {{user.okirprofile.follows.count}}</p>
                {%if user != request.user %}
                    {%if request.user.okirprofile in user.okirprofile.followed_by.all%}
                    <a href="{%url 'okirprofile:unfollow' user.username%}" class="button is-danger is-small">Unfollow</a>
                    {# <a href="{{user.okirprofile.get_follow_url}}" class="button is-danger is-small">Unfollow</a> #}
                    {%else%}
                    <a href="{%url 'okirprofile:follow' user.username%}" class="button is-primary is-small">Follow</a>
                    {# <a href="{{user.okirprofile.get_unfollow_url}}" class="button is-primary is-small">Follow</a> #}
                    {%endif%}
                {%endif%}
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <div class="wrapper-okis">
                    {%if user == request.user%}
                        <a href="{%url 'okirprofile:editprofileview' %}" class="button is-primary is-large">Edit</a>
                    {%endif%}
                </div>
            </div>
        </div>
        <hr />
        <div class="columns">
            <div class="column is-12">
                <div class="wrapper-okis">
                    {%for oki in user.okir.all%}
                        <div class="oki">
                            <article class="media">
                                <figure class="media-left">
                                    <p class="image is-64x64">
                                    {%if oki.created_by.okirprofile.avatar%}
                                        <img src="{{oki.created_by.okirprofile.avatar.url}}" alt="Profile Picture">
                                    {%endif%}
                                    </p>
                                </figure>
                                <div class="media-conten">
                                    <p class="name"><strong>{{oki.created_by.username}}</strong></p>
                                    <p class="">{{oki.body|safe}}</p>
                                    <p class="info">{{oki.created_at|naturaltime}}</p>
                                </div>
                            </article>
                        </div>
                        <hr>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
{%endblock content%}
